@charset "utf-8";
* {
  box-sizing: border-box;
}

// mixin
@mixin sp {
  @media screen and (max-width: 680px) {
    @content;
  }
}

// color

$DarkGreen: rgb(31, 58, 61);
$SemiDarkGreen: rgb(75, 139, 138);
$MiddleGreen: rgb(125, 181, 177);
$LightGreen: rgb(183, 225, 216);
$EcruWhite: rgb(246, 247, 232);

/* height */
$header_height: 6vh;
$map_title_height: 4vh;
$footer_height: 6vh;
$map_height2: calc(100vh - #{$header_height} - #{$map_title_height} - #{$footer_height});
$map_height: 90vh;

.wf-roundedmplus1c {
  font-family: "M PLUS Rounded 1c", "ヒラギノ角ゴ Pro W3";
}
/* 要素名 */
html {
  height: 100%;
}
body {
  background-image: url("/img/nature_back.webp");
  font-family: "M PLUS Rounded 1c";
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  height: 100%;
  width: 100%;
  letter-spacing: 0.2em;
}
.main_header {
  display: flex;
  padding: 0 10px;
  height: $header_height;
  top: 0;
  width: 100%;
  background-color: $SemiDarkGreen;
  align-items: center;
  z-index: 999;
  &__title_text {
    margin-top: 0px;
    color: $EcruWhite;
  }
  &__menu-text {
    color: $EcruWhite;
  }
}
.h1-title_text {
  display: flex;
  flex-direction: row;
  font-family: "M PLUS Rounded 1c";
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}
p {
  margin: 0px;
}
nav {
  margin: 0 0 0 auto;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}
.h2-title_text {
  display: flex;
  flex-direction: row;
  font-family: "M PLUS Rounded 1c";
  padding: 0;
  box-sizing: border-box;
  text-shadow:
    0 0 0.05em $SemiDarkGreen,
    0 0 0.1em $SemiDarkGreen,
    0 0 0.15em $SemiDarkGreen,
    0 0 0.3em $SemiDarkGreen;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.082);
  @include sp {
    margin: 0px 0px 0px 0px;
    font-size: 18px;
  }
}

img {
  vertical-align: bottom;
  border-radius: 0px;
}
p {
  font-family: "M PLUS Rounded 1c";
  text-align: left;
}
/* Class */
.wrapper {
  background-image: url("/img/nature_back.png");
  display: flex;
  flex-direction: column;
}
.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background: url('DSC00697.JPG') top center / cover no-repeat;
}
.sp-nav {
  display: none;
  @include sp {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    li {
      margin: 0;
      padding: 0;
    }
    li span {
      font-size: 15px;
      color: #fff;
    }
    li a,
    li span {
      display: block;
      padding: 20px 0;
    }
    /*-閉じるアイコンー*/
    .close {
      position: relative;
      padding-left: 20px;
    }
    .close::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate(45deg);
    }
    .close::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate(-45deg);
    }
  }
}
.map-eyecatch_block {
  height: auto;
  width: 30vw;
}
.map_title {
  height: $map_title_height;
  background-color: $LightGreen;
  display: flex;
  justify-content: center;
  align-items: center;
  .map_title_img {
    transform: translateY(-10%);
  }
}

.mapflame {
  position: absolute;
  display: block;
  border: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0px;
  border-top: none;
  background-color: #ffffff;
  // border-radius: 5px;
  margin: 0 auto;
  height: 80vh;
  width: 100%;
}
// content
.content {
  margin: 5%;
  @include sp {
    .white_back {
      padding: 5% 10%;
    }
  }
  .white_back {
    background-color: #ffffe0;
    border: #2b2e2c;
    width: 100%;
    height: auto;
    padding: 2.5% 5%;
    p {
      text-align: left;
      margin-bottom: 0px;
    }
    .white_back_inner {
      display: flex;
      justify-content: center;
      &_eyecatch {
        margin: 2.5%;
        overflow: hidden;
        max-width: 30vw;
        .white_inner_map-title {
          white-space: nowrap;
          font-size: 1.5rem;
          margin-bottom: 5px;
        }
        img {
          height: auto;
          width: 30vw;
        }
        .white_back_inner_info {
          padding: 0% 5% 0% 5%;
        }
      }
      @include sp {
        .white_back_inner_eyecatch {
          margin: 5%;
          max-width: none;
        }
      }
    }
  }

  .link_url {
    color: rgb(60, 60, 183);
    display: block;
    white-space: nowrap;
    text-align: center;
  }
  .space {
    height: 50px;
  }
}
//end content
.foot_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  .foot_nav_p {
    font-family: "M PLUS Rounded 1c";
  }
  .foot_nav_link {
    font-family: "M PLUS Rounded 1c";
    color: rgb(69, 150, 226);
    font-weight: bold;
  }
  position: fixed;
  height: 7vh;
  background-color: $EcruWhite;
  top: auto;
  bottom: 0;
  width: 100%;
}
/* id */
#footer02 {
  background: #e0ffff;
}
.ie #footer02 .logo img,
#footer02 .logo {
  display: inline-block;
  width: 120px;
}

#footer02 .nav li a {
  padding: 15px;
  color: #ccc;
}

#footer02 .c-btn {
  margin-left: 25px;
}

//map-css
.m-name_text {
  font-size: 1.5rem;
  font-weight: bold;
}
.m-content_text {
  font-size: 16px;
}

.yamap-logo {
  height: 3vh;
  margin-bottom: 0.5vh;
}
.g_map_logo {
  height: 3vh;
  margin-bottom: 0.5vh;
}

.ol-popup {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.popup-image_wrapper {
  padding: 0px;
  .popup-image {
    width: 100%;
    height: 20vh;
  }
}

//map-css
.m-name_text {
  color: rgb(39, 39, 39);
  font-size: 20px;
  font-weight: bold;
}

// MUI-custom
// layer-iconButton
.css-ia634f {
  background-color: rgb(246, 247, 232);
  border-radius: 20px;
  width: 41px;
  height: 41px;
  border: 1px solid #e5e7eb;
}

/*responsive*/
@include sp {
  .pc-nav {
    display: none;
  }
  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
  }
  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
  }
  #hamburger::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  #hamburger::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
  }
  /*スマホメニュー*/

  .toggle {
    transform: translateY(0);
    opacity: 1;
  }
  .main-visual {
    padding: 0 4%;
  }

  .map_title {
    background-color: $LightGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    .map_title_img {
      height: 1.1em;
      width: 1.1em;
    }
  }

  .content {
    .white_back {
      .white_back_inner {
        display: flex;
        flex-direction: column;
        .white_back_inner_eyecatch {
          margin: 2%;
          margin-bottom: 5%;
          img {
            width: 100%;
            min-width: 259px;
          }
        }
      }
    }
  }

  .foot_nav {
    .foot_nav_p {
      font-family: "M PLUS Rounded 1c";
      text-align: center;
    }
    .foot_nav_p {
      text-align: center;
      display: block;
      margin: 1em;
    }
    .foot_nav_link {
      font-family: "M PLUS Rounded 1c";
      color: rgb(69, 150, 226);
      font-weight: bold;
      text-shadow: 0 0 0.05em #e0ffff;
    }
    position: fixed;
    height: 7vh;
    background-color: #ffffff;
    top: auto;
    bottom: 0;
    width: 100%;
  }

  // ol-custom-css

  // end
}
